html, body {
    margin: 0;
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #dcf7fc;
}

button {
    width: 150px;
    height: 150px;
    font-size: 60px;
    background-color: #b2bbd4;
}

.calculator {
    height: 800px;
    width: 600px;
    border-width: 20px;
    border-style: solid;
    border-radius: 20px;
}

.display {
    width: 600px;
    height: 200px;
    font-size: 100px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    background-color: rgb(255, 255, 255);
}

.buttons {
    display: flex;
    flex-wrap: wrap;
}

.operation {
    background-color:#fcba03;
}
.clear {
    background-color: #8b8b8b;
}
.equals {
    background-color: #1290ff;
}
